﻿@model WebApp.Models.Storage
<!-- begin master section -->
<div class="row">
    <div class="col col-lg-12 col-md-12">
<!--begin storage form  -->
<form id="storage_form" class="smart-form" method="post" novalidate >
@Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
 <fieldset>
     <div class="row">
			              <!--堆场名称-->
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Name)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Name)
            </label>
            </section>
 		 
	    
			              <!--地址-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Address) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Address)
            </label>
            </section>
 		 
	    
			              <!--用途-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Use) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Use)
            </label>
            </section>
 		 
	    
			  			  <!--海关监管-->
              <section class="col col-3">
              <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Customs)</span> </label>
              <label class="label">
                @Html.DisplayFor(model => model.Customs)
            </label>
            </section>
		 
	   </div>
	    
	    
</fieldset>
</form>
<!-- end storage form  -->
</div>
</div>
<!-- end master section -->
<!--========================================================================================-->


