﻿@model WebApp.Models.TmOrder
<!-- 弹出窗体form表单 -->
<div id="detailswindow" hidden="hidden" class="easyui-window"
     title="明细数据"
     data-options="modal:true,
                    closed:true,
                    maximized:false,
                    iconCls:'icon-more',
                    footer:'#windowfooter',
                    closeDuration:200,
                    closeAnimation:'slide',
                    openDuration:300,
                    openAnimation:'slide',
                    onOpen:function(){
                       $(this).window('vcenter');
                       $(this).window('hcenter');
                    },
                    onRestore:function(){
                    },
                    onMaximize:function(){
                    }
                    " style="width:1350px;height:520px">
  <!-- begin toolbar -->
  <div class="window-body-toolbar">
    <div class="row">
      <div class="col-sm-8">
        <div class="btn-group btn-group-sm">
          <button onclick="saveitem()" class="btn btn-default">
            <i class="fa fa-floppy-o"></i> 保存
          </button>
        </div>
        <div class="btn-group btn-group-sm" style="display:none">
          <button onclick="todo()" class="btn btn-default">
            <i class="fa fa-print"></i> ToDo
          </button>
        </div>
      </div>
      <div class="col-sm-4 text-align-right">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn   btn-success" onclick="closewindow()">
            <i class="fa fa-chevron-left"></i>
            关闭
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end toolbar -->
  <!-- begin window body -->
  <div class="padding-10">
    <!-- begin form表单界面-->
    <div class="row">
      <div class="col-md-12">
        <form id="tmorder_form" class="easyui-form form-horizontal" method="post" data-options="novalidate:true">
          @Html.AntiForgeryToken()
          <input type="hidden" id="@Html.IdFor(model => model.Id)"
                 name="@Html.NameFor(model => model.Id)"
                 value="@Html.ValueFor(model => model.Id)" />
          <table class="table table-bordered">

            <tr>
              <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.TRQ_ID)</span></td>
              <td>
                <input id="@Html.IdFor(model => model.TRQ_ID)"
                       name="@Html.NameFor(model => model.TRQ_ID)"
                       value="@Html.ValueFor(model => model.TRQ_ID)"
                       tabindex="0" required
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.TRQ_ID)',
								 label:'',
                                 width:200,
								 required:true ,validType:'length[0,20]'" />
              </td>
              <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.TRQ_TYPE)</span></td>
              <td>
                <input id="@Html.IdFor(model => model.TRQ_TYPE)"
                       name="@Html.NameFor(model => model.TRQ_TYPE)"
                       value="@Html.ValueFor(model => model.TRQ_TYPE)"
                       tabindex="1" required
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.TRQ_TYPE)',
								 label:'',
                                 width:200,
								 required:true ,validType:'length[0,4]'" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.TOR_ID)</td>
              <td>
                <input id="@Html.IdFor(model => model.TOR_ID)"
                       name="@Html.NameFor(model => model.TOR_ID)"
                       value="@Html.ValueFor(model => model.TOR_ID)"
                       tabindex="2"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.TOR_ID)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,20]'" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZFOZT)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZFOZT)"
                       name="@Html.NameFor(model => model.ZFOZT)"
                       value="@Html.ValueFor(model => model.ZFOZT)"
                       tabindex="3"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZFOZT)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,2]'" />
              </td>
            </tr>
            <tr>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZZT)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZZT)"
                       name="@Html.NameFor(model => model.ZZT)"
                       value="@Html.ValueFor(model => model.ZZT)"
                       tabindex="4"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZZT)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,10]'" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZCZLX)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZCZLX)"
                       name="@Html.NameFor(model => model.ZCZLX)"
                       value="@Html.ValueFor(model => model.ZCZLX)"
                       tabindex="5"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZCZLX)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,2]'" />
              </td>
              <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.SALES_ORG_ID)</span></td>
              <td>
                <input id="@Html.IdFor(model => model.SALES_ORG_ID)"
                       name="@Html.NameFor(model => model.SALES_ORG_ID)"
                       value="@Html.ValueFor(model => model.SALES_ORG_ID)"
                       tabindex="6" required
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.SALES_ORG_ID)',
								 label:'',
                                 width:200,
								 required:true ,validType:'length[0,20]'" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZSBTDH)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZSBTDH)"
                       name="@Html.NameFor(model => model.ZSBTDH)"
                       value="@Html.ValueFor(model => model.ZSBTDH)"
                       tabindex="12"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZSBTDH)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,24]'" />
              </td>
            </tr>
            <tr>
              <td class="control-label">@Html.DisplayNameFor(model => model.SHIPPER_ID)</td>
              <td>
                <input id="@Html.IdFor(model => model.SHIPPER_ID)"
                       name="@Html.NameFor(model => model.SHIPPER_ID)"
                       value="@Html.ValueFor(model => model.SHIPPER_ID)"
                       tabindex="7"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.SHIPPER_ID)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,10]'" />
              </td>
              <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.ZFHDWMS)</span></td>
              <td>
                <input id="@Html.IdFor(model => model.ZFHDWMS)"
                       name="@Html.NameFor(model => model.ZFHDWMS)"
                       value="@Html.ValueFor(model => model.ZFHDWMS)"
                       tabindex="8" required
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZFHDWMS)',
								 label:'',
                                 width:200,
								 required:true ,validType:'length[0,80]'" />
              </td>
             
              <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.CONSIGNEE_ID)</span></td>
              <td>
                <input id="@Html.IdFor(model => model.CONSIGNEE_ID)"
                       name="@Html.NameFor(model => model.CONSIGNEE_ID)"
                       value="@Html.ValueFor(model => model.CONSIGNEE_ID)"
                       tabindex="10" required
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.CONSIGNEE_ID)',
								 label:'',
                                 width:200,
								 required:true ,validType:'length[0,10]'" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZSHDWMS)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZSHDWMS)"
                       name="@Html.NameFor(model => model.ZSHDWMS)"
                       value="@Html.ValueFor(model => model.ZSHDWMS)"
                       tabindex="11"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZSHDWMS)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,80]'" />
              </td>
            </tr>
            <tr>
              <td class="control-label">@Html.DisplayNameFor(model => model.TURES_ID)</td>
              <td>
                <input id="@Html.IdFor(model => model.TURES_ID)"
                       name="@Html.NameFor(model => model.TURES_ID)"
                       value="@Html.ValueFor(model => model.TURES_ID)"
                       tabindex="9"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.TURES_ID)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[11,40]'" />
              </td>


              <td class="control-label">@Html.DisplayNameFor(model => model.TURES_TCO)</td>
              <td>
                <input id="@Html.IdFor(model => model.TURES_TCO)"
                       name="@Html.NameFor(model => model.TURES_TCO)"
                       value="@Html.ValueFor(model => model.TURES_TCO)"
                       tabindex="14"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.TURES_TCO)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,10]'" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.QUA_PCS_VAL)</td>
              <td>
                <input id="@Html.IdFor(model => model.QUA_PCS_VAL)"
                       name="@Html.NameFor(model => model.QUA_PCS_VAL)"
                       value="@Html.ValueFor(model => model.QUA_PCS_VAL)"
                       tabindex="16"
                       class="easyui-numberbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.QUA_PCS_VAL)',
								 label:'',
                                 width:200,
								 required:false,
                                 precision:2,
                                 validType:'decimal'
                                 " />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.PKGUN_WEI_VAL)</td>
              <td>
                <input id="@Html.IdFor(model => model.PKGUN_WEI_VAL)"
                       name="@Html.NameFor(model => model.PKGUN_WEI_VAL)"
                       value="@Html.ValueFor(model => model.PKGUN_WEI_VAL)"
                       tabindex="18"
                       class="easyui-numberbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.PKGUN_WEI_VAL)',
								 label:'',
                                 width:200,
								 required:false,
                                 precision:2,
                                 validType:'decimal'
                                 " />
              </td>
            </tr>
   
            <tr>
              <td class="control-label">@Html.DisplayNameFor(model => model.GRO_VOL_VAL)</td>
              <td>
                <input id="@Html.IdFor(model => model.GRO_VOL_VAL)"
                       name="@Html.NameFor(model => model.GRO_VOL_VAL)"
                       value="@Html.ValueFor(model => model.GRO_VOL_VAL)"
                       tabindex="20"
                       class="easyui-numberbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.GRO_VOL_VAL)',
								 label:'',
                                 width:200,
								 required:false,
                                 precision:2,
                                 validType:'decimal'
                                 " />
              </td>

              <td class="control-label">@Html.DisplayNameFor(model => model.ZWXPDJ)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZWXPDJ)"
                       name="@Html.NameFor(model => model.ZWXPDJ)"
                       value="@Html.ValueFor(model => model.ZWXPDJ)"
                       tabindex="22"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZWXPDJ)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,2]'" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZFH1)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZFH1)"
                       name="@Html.NameFor(model => model.ZFH1)"
                       value="@Html.ValueFor(model => model.ZFH1)"
                       tabindex="23"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZFH1)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,30]'" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZSFLH)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZSFLH)"
                       name="@Html.NameFor(model => model.ZSFLH)"
                       value="@Html.ValueFor(model => model.ZSFLH)"
                       tabindex="59"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZSFLH)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,1]'" />
              </td>
            </tr>
            <tr>
              <td class="control-label">@Html.DisplayNameFor(model => model.SRC_LOC_ID)</td>
              <td>
                <input id="@Html.IdFor(model => model.SRC_LOC_ID)"
                       name="@Html.NameFor(model => model.SRC_LOC_ID)"
                       value="@Html.ValueFor(model => model.SRC_LOC_ID)"
                       tabindex="24"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.SRC_LOC_ID)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,20]'" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZTHDZMS)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZTHDZMS)"
                       name="@Html.NameFor(model => model.ZTHDZMS)"
                       value="@Html.ValueFor(model => model.ZTHDZMS)"
                       tabindex="25"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZTHDZMS)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,80]'" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.DES_LOC_ID)</td>
              <td>
                <input id="@Html.IdFor(model => model.DES_LOC_ID)"
                       name="@Html.NameFor(model => model.DES_LOC_ID)"
                       value="@Html.ValueFor(model => model.DES_LOC_ID)"
                       tabindex="26"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.DES_LOC_ID)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,20]'" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZSHDZMS)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZSHDZMS)"
                       name="@Html.NameFor(model => model.ZSHDZMS)"
                       value="@Html.ValueFor(model => model.ZSHDZMS)"
                       tabindex="27"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZSHDZMS)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,80]'" />
              </td>
              
            </tr>
            <tr>
              
              <td class="control-label">@Html.DisplayNameFor(model => model.ZTHYQBZL)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZTHYQBZL)"
                       name="@Html.NameFor(model => model.ZTHYQBZL)"
                       value="@Html.ValueFor(model => model.ZTHYQBZL)"
                       tabindex="28"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZTHYQBZL)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,255]'" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZSHYQBZL)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZSHYQBZL)"
                       name="@Html.NameFor(model => model.ZSHYQBZL)"
                       value="@Html.ValueFor(model => model.ZSHYQBZL)"
                       tabindex="29"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZSHYQBZL)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,100]'" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZZXYQBZL)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZZXYQBZL)"
                       name="@Html.NameFor(model => model.ZZXYQBZL)"
                       value="@Html.ValueFor(model => model.ZZXYQBZL)"
                       tabindex="30"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZZXYQBZL)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,255]'" />
              </td>
              <td></td><td></td>
            </tr>
            <tr>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZJHPCSJ)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZJHPCSJ)"
                       name="@Html.NameFor(model => model.ZJHPCSJ)"
                       value="@Html.ValueFor(model => model.ZJHPCSJ)"
                       tabindex="61"
                       class="easyui-datetimebox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZJHPCSJ)',
								 label:'',
                                 width:200,
                       formatter:datetimeformatter,
								 required:false ,validType:'length[0,12]'" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZFOJHTHRQZGRQS)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZFOJHTHRQZGRQS)"
                       name="@Html.NameFor(model => model.ZFOJHTHRQZGRQS)"
                       value="@Html.ValueFor(model => model.ZFOJHTHRQZGRQS)"
                       tabindex="65"
                       class="easyui-datebox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZFOJHTHRQZGRQS)',
								 label:'',
                                 width:200,
								 required:false,
								 formatter:dateformatter" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZJHTHRQZGRQ)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZJHTHRQZGRQ)"
                       name="@Html.NameFor(model => model.ZJHTHRQZGRQ)"
                       value="@Html.ValueFor(model => model.ZJHTHRQZGRQ)"
                       tabindex="44"
                       class="easyui-datebox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZJHTHRQZGRQ)',
								 label:'',
                                 width:200,
								 required:false,
								 formatter:dateformatter" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZTZXRQSJ)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZTZXRQSJ)"
                       name="@Html.NameFor(model => model.ZTZXRQSJ)"
                       value="@Html.ValueFor(model => model.ZTZXRQSJ)"
                       tabindex="62"
                       class="easyui-datebox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZTZXRQSJ)',
								 label:'',
                                 width:200,
								 required:false,
								 formatter:dateformatter" />
              </td>
             
            </tr>
            <tr>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZHKXRQSJ)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZHKXRQSJ)"
                       name="@Html.NameFor(model => model.ZHKXRQSJ)"
                       value="@Html.ValueFor(model => model.ZHKXRQSJ)"
                       tabindex="63"
                       class="easyui-datebox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZHKXRQSJ)',
								 label:'',
                                 width:200,
								 required:false,
								 formatter:dateformatter" />
              </td>
              <td class="control-label">@Html.DisplayNameFor(model => model.ZHKXDD)</td>
              <td>
                <input id="@Html.IdFor(model => model.ZHKXDD)"
                       name="@Html.NameFor(model => model.ZHKXDD)"
                       value="@Html.ValueFor(model => model.ZHKXDD)"
                       tabindex="64"
                       class="easyui-textbox"
                       type="text"
                       data-options="prompt:'@Html.DisplayNameFor(model => model.ZHKXDD)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,20]'" />
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
               
            </tr>
          </table>
        </form>
      </div>
    </div>
    <!--end form表单界面-->
    <!--========================================================================================-->
  </div>
  <!--end window body -->
</div>
<div id="windowfooter" style="padding:5px;">&nbsp;</div>
<!-- 弹出窗体form表单 -->
<!-- 弹出编辑对话框 -->
