﻿@model WebApp.Models.DriverMgt
<!-- 弹出窗体form表单 -->
 <div id="detailswindow" hidden="hidden" class="easyui-window" 
      title="明细数据" 
      data-options="modal:true,
                    closed:true,
                    maximized:false,
                    iconCls:'icon-more',
                    footer:'#windowfooter',
                    closeDuration:200,
                    closeAnimation:'slide',
                    openDuration:300,
                    openAnimation:'slide',
                    onBeforeClose:function(){
                      var that = $(this);
                      if(hasmodified()){
                        $.messager.confirm('确认','你确定要放弃保存修改的记录?',function(r){
                        if (r){
                          var opts = that.panel('options');
                          var onBeforeClose = opts.onBeforeClose;
                          opts.onBeforeClose = function(){};
                          that.panel('close');
                          opts.onBeforeClose = onBeforeClose;
                        }
                        });
                        return false;
                      }
                    },
                    onOpen:function(){
                       $(this).window('vcenter');
                       $(this).window('hcenter');
                    },
                    onRestore:function(){
                    },
                    onMaximize:function(){
                    }
                    " style="width:1350px;height:520px">
    <!-- begin toolbar -->
    <div class="window-body-toolbar">
        <div class="row">
            <div class="col-sm-8">
                <div class="btn-group btn-group-sm">
                       <button onclick="saveitem()" class="btn btn-default"> 
                          <i class="fa fa-floppy-o"></i> 保存 
                       </button>
                </div>
                <div class="btn-group btn-group-sm" style="display:none">
                    <button onclick="todo()" class="btn btn-default">
                        <i class="fa fa-print"></i> ToDo
                    </button>
                </div>
            </div>
            <div class="col-sm-4 text-align-right">
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn   btn-success" onclick="closewindow()">
                    <i class="fa fa-chevron-left"></i>
                    关闭
                </button>
              </div>
            </div>
        </div>
    </div>
    <!-- end toolbar -->
    <!-- begin window body -->
    <div class="padding-10">
    <!-- begin form表单界面-->
        <div class="row">
            <div class="col-md-12">
          <form id="drivermgt_form" 
              class="easyui-form form-horizontal padding-10" 
              method="post" 
              data-options="novalidate:true,
                            onChange: function(target){
                              hasChanged = true;
                             },
                             onLoadSuccess:function(data){
                               hasChanged = false;
                             }">
  @Html.AntiForgeryToken()
   <!--Primary Key-->
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
  
 <table class="table table-bordered"> 
	    <tr>
	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.DriverNo)</span></td>
	   <td> 
            <!--司机工号-->
			<input id="@Html.IdFor(model => model.DriverNo)" 
				   name="@Html.NameFor(model => model.DriverNo)" 
				   value="@Html.ValueFor(model => model.DriverNo)"
				   tabindex="0" required
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.DriverNo)',
								 label:'',
                                 width:200,
								 required:true,
                                 validType: 'length[0,20]'
                                 " />
				   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Driver)</span></td>
	   <td> 
            <!--司机姓名-->
			<input id="@Html.IdFor(model => model.Driver)" 
				   name="@Html.NameFor(model => model.Driver)" 
				   value="@Html.ValueFor(model => model.Driver)"
				   tabindex="1" required
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Driver)',
								 label:'',
                                 width:200,
								 required:true,
                                 validType: 'length[0,20]'
                                 " />
				   </td>
	   	   <td class="control-label">@Html.DisplayNameFor(model => model.PhoneNumber)</td>
	   <td> 
            <!--联系电话-->
			<input id="@Html.IdFor(model => model.PhoneNumber)" 
				   name="@Html.NameFor(model => model.PhoneNumber)" 
				   value="@Html.ValueFor(model => model.PhoneNumber)"
				   tabindex="2" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.PhoneNumber)',
								 label:'',
                                 width:200,
								 required:false,
                                 validType: 'length[0,20]'
                                 " />
				   </td>
	   	   <td class="control-label">@Html.DisplayNameFor(model => model.PlateNumber)</td>
	   <td> 
            <!--车牌号-->
			<input id="@Html.IdFor(model => model.PlateNumber)" 
				   name="@Html.NameFor(model => model.PlateNumber)" 
				   value="@Html.ValueFor(model => model.PlateNumber)"
				   tabindex="3" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.PlateNumber)',
								 label:'',
                                 width:200,
								 required:false,
                                 validType: 'length[0,10]'
                                 " />
				   </td>
	   	   </tr>
	   	    <tr>
	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.BeginDate)</span></td>
	   <td> 
               <!--开始日期-->
                <input id="@Html.IdFor(model => model.BeginDate)" 
			       name="@Html.NameFor(model => model.BeginDate)"
                   value="@Html.ValueFor(model => model.BeginDate)"
           		   tabindex="4"  required
				   class="easyui-datebox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.BeginDate)',
								 label:'',
                                 width:200,
								 required:true,
								 formatter:dateformatter" />
				   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.EndDate)</span></td>
	   <td> 
               <!--结束日期-->
                <input id="@Html.IdFor(model => model.EndDate)" 
			       name="@Html.NameFor(model => model.EndDate)"
                   value="@Html.ValueFor(model => model.EndDate)"
           		   tabindex="5"  required
				   class="easyui-datebox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.EndDate)',
								 label:'',
                                 width:200,
								 required:true,
								 formatter:dateformatter" />
				   </td>
	   	   <td class="control-label">@Html.DisplayNameFor(model => model.Shift)</td>
	   <td> 
            <!--班别-->
			<input id="@Html.IdFor(model => model.Shift)" 
				   name="@Html.NameFor(model => model.Shift)" 
				   value="@Html.ValueFor(model => model.Shift)"
				   tabindex="6" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Shift)',
								 label:'',
                                 width:200,
								 required:false,
                                 validType: 'length[0,3]'
                                 " />
				   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Status)</span></td>
	   <td> 
            <!--状态-->
			<input id="@Html.IdFor(model => model.Status)"
				   name="@Html.NameFor(model => model.Status)" 
				   value="@Html.ValueFor(model => model.Status)"
				   tabindex="7" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Status)',
								 label:'',
                                 width:200,
								 required:true,
                                 validType:'integer',
                                 
                                 " />
				   </td>
	   	   </tr>
	   	    <tr>
	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.BeginTime)</span></td>
	   <td> 
            <!--上班时间-->
			<input id="@Html.IdFor(model => model.BeginTime)" 
				   name="@Html.NameFor(model => model.BeginTime)" 
				   value="@Html.ValueFor(model => model.BeginTime)"
				   tabindex="8" required
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.BeginTime)',
								 label:'',
                                 width:200,
								 required:true,
                                 validType: 'length[0,0]'
                                 " />
				   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.EndTime)</span></td>
	   <td> 
            <!--下班时间-->
			<input id="@Html.IdFor(model => model.EndTime)" 
				   name="@Html.NameFor(model => model.EndTime)" 
				   value="@Html.ValueFor(model => model.EndTime)"
				   tabindex="9" required
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.EndTime)',
								 label:'',
                                 width:200,
								 required:true,
                                 validType: 'length[0,0]'
                                 " />
				   </td>
	   	   <td class="control-label">@Html.DisplayNameFor(model => model.Remark)</td>
	   <td> 
            <!--备注-->
			<input id="@Html.IdFor(model => model.Remark)" 
				   name="@Html.NameFor(model => model.Remark)" 
				   value="@Html.ValueFor(model => model.Remark)"
				   tabindex="10" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Remark)',
								 label:'',
                                 width:200,
								 required:false,
                                 validType: 'length[0,80]'
                                 " />
				   </td>
	   	    		<td></td> <td></td>
		     </tr>
	       </table>
     </form>
     </div>
    </div>
<!--end form表单界面-->
<!--========================================================================================-->
     </div>
    <!--end window body -->
</div>
<div id="windowfooter" style="padding:5px;">&nbsp;</div>
<!-- 弹出窗体form表单 -->
<!-- 弹出编辑对话框 -->


