﻿@model WebApp.Models.Department
 <!-- 输出form表单界面 -->
<form id="department_form" class="smart-form" method="post" novalidate >
@Html.AntiForgeryToken()
<fieldset>
    <div class="row">
        	    			<section class="col col-3">
           <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Id)</span> </label>
           <label class="label">
            @Html.DisplayFor(model => model.Id)
			</label>
            </section>
              				 
	  
	    
	        			              <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Name)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Name)
            </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Manager) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Manager)
            </label>
            </section>
			  				 
	  
	    
	                     <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.CompanyId)</span> </label>
            <label class="label">
			      @Html.DisplayFor(model => model.CompanyId)
			</label>
            </section>
				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.CreatedDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.CreatedDate)
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.CreatedBy) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.CreatedBy)
            </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LastModifiedDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.LastModifiedDate)
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LastModifiedBy) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.LastModifiedBy)
            </label>
            </section>
			  				 
	  
	    
	    </div>
</fieldset>
</form>
<!--========================================================================================-->
 

 <script type="text/javascript">
    //初始化from赋值
    function initFormData(id) {
            //$('#department_form').form('load', data);
            
    }


   var departmentid=@Model.Id;
    $(function(){
        initFormData(departmentid);
    });
 </script>

