﻿@model WebApp.Models.VehMaRecord
<!-- begin master section -->
<div class="row">
    <div class="col col-lg-12 col-md-12">
<!--begin vehmarecord form  -->
<form id="vehmarecord_form" class="smart-form" method="post" novalidate >
@Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
 <fieldset>
     <div class="row">
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.PlateNumber)</span> </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PlateNumber)" 
				   name="@Html.NameFor(model => model.PlateNumber)" 
                   placeholder="@Html.DisplayNameFor(model => model.PlateNumber)" 
				   value="@Html.ValueFor(model => model.PlateNumber)"
				   tabindex="0" required
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.PlateNumber)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Factory) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Factory)" 
				   name="@Html.NameFor(model => model.Factory)" 
                   placeholder="@Html.DisplayNameFor(model => model.Factory)" 
				   value="@Html.ValueFor(model => model.Factory)"
				   tabindex="1" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Factory)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Content) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Content)" 
				   name="@Html.NameFor(model => model.Content)" 
                   placeholder="@Html.DisplayNameFor(model => model.Content)" 
				   value="@Html.ValueFor(model => model.Content)"
				   tabindex="2" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Content)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.SDate)</span> </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.SDate)" 
			       name="@Html.NameFor(model => model.SDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.SDate)" 
				   tabindex="3" required
				   class="datepicker" data-dateformat="mm/dd/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.SDate)"
				    />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.SDate)</b>
			    </label>
            </section>
				 
	   </div>
	    
     <div class="row">
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.NDate)</span> </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.NDate)" 
			       name="@Html.NameFor(model => model.NDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.NDate)" 
				   tabindex="4" required
				   class="datepicker" data-dateformat="mm/dd/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.NDate)"
				    />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.NDate)</b>
			    </label>
            </section>
				 
	    
			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Amount)</span> </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.Amount)"
				   name="@Html.NameFor(model => model.Amount)" 
                   placeholder="@Html.DisplayNameFor(model => model.Amount)" 
				   value="@Html.ValueFor(model => model.Amount)"
				   tabindex="5" required
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Amount)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Remark) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Remark)" 
				   name="@Html.NameFor(model => model.Remark)" 
                   placeholder="@Html.DisplayNameFor(model => model.Remark)" 
				   value="@Html.ValueFor(model => model.Remark)"
				   tabindex="6" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Remark)</b>
			    </label>
            </section>
				 
	    
   </div>
</fieldset>
</form>
<!-- end vehmarecord form  -->
</div>
</div>
<!-- end master section -->
<!--========================================================================================-->

