﻿@model WebApp.Models.Tyre
 <!-- 输出form表单界面 -->
<form id="tyre_form" class="smart-form" method="post" novalidate >
@Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
 <fieldset>
     <div class="row">
			              <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.PartNo)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.PartNo)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.PartName)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.PartName)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Spec)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Spec)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Model) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Model)
            </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SupplierCode) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.SupplierCode)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SupplierName) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.SupplierName)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.BuyDate)</span> </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.BuyDate)
			    </label>
            </section>
			  		 
	    
			  			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Price)</span> </label>
            <label class="label">
            @Html.DisplayFor(model => model.Price)
			    </label>
            </section>
              		 
	   </div>
	    
     <div class="row">
			  			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Qty)</span> </label>
            <label class="label">
            @Html.DisplayFor(model => model.Qty)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Status)</span> </label>
            <label class="label">
            @Html.DisplayFor(model => model.Status)
			    </label>
            </section>
              		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.UseDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.UseDate)
			    </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.PlateNumber) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.PlateNumber)
            </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.ScrapDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.ScrapDate)
			    </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.PartnerCode) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.PartnerCode)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.PartnerName) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.PartnerName)
            </label>
            </section>
			  		 
	    
   </div>
	    
</fieldset>
</form>
<!--========================================================================================-->
 

 <script type="text/javascript">
    //初始化from赋值
    function initFormData(id) {
            //$('#tyre_form').form('load', data);
            
    }


   var tyreid=@Model.Id;
    $(function(){
        initFormData(tyreid);
    });
 </script>

