﻿@model WebApp.Models.Tyre
<!-- begin master section -->
<div class="row">
    <div class="col col-lg-12 col-md-12">
<!--begin tyre form  -->
<form id="tyre_form" class="smart-form" method="post" novalidate >
@Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
 <fieldset>
     <div class="row">
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.PartNo)</span> </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PartNo)" 
				   name="@Html.NameFor(model => model.PartNo)" 
                   placeholder="@Html.DisplayNameFor(model => model.PartNo)" 
				   value="@Html.ValueFor(model => model.PartNo)"
				   tabindex="0" required
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.PartNo)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.PartName)</span> </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PartName)" 
				   name="@Html.NameFor(model => model.PartName)" 
                   placeholder="@Html.DisplayNameFor(model => model.PartName)" 
				   value="@Html.ValueFor(model => model.PartName)"
				   tabindex="1" required
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.PartName)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Spec)</span> </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Spec)" 
				   name="@Html.NameFor(model => model.Spec)" 
                   placeholder="@Html.DisplayNameFor(model => model.Spec)" 
				   value="@Html.ValueFor(model => model.Spec)"
				   tabindex="2" required
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Spec)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Model) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Model)" 
				   name="@Html.NameFor(model => model.Model)" 
                   placeholder="@Html.DisplayNameFor(model => model.Model)" 
				   value="@Html.ValueFor(model => model.Model)"
				   tabindex="3" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Model)</b>
			    </label>
            </section>
				 
	   </div>
	    
     <div class="row">
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SupplierCode) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.SupplierCode)" 
				   name="@Html.NameFor(model => model.SupplierCode)" 
                   placeholder="@Html.DisplayNameFor(model => model.SupplierCode)" 
				   value="@Html.ValueFor(model => model.SupplierCode)"
				   tabindex="4" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.SupplierCode)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SupplierName) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.SupplierName)" 
				   name="@Html.NameFor(model => model.SupplierName)" 
                   placeholder="@Html.DisplayNameFor(model => model.SupplierName)" 
				   value="@Html.ValueFor(model => model.SupplierName)"
				   tabindex="5" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.SupplierName)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.BuyDate)</span> </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.BuyDate)" 
			       name="@Html.NameFor(model => model.BuyDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.BuyDate)" 
				   tabindex="6" required
				   class="datepicker" data-dateformat="mm/dd/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.BuyDate)"
				    />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.BuyDate)</b>
			    </label>
            </section>
				 
	    
			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Price)</span> </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.Price)"
				   name="@Html.NameFor(model => model.Price)" 
                   placeholder="@Html.DisplayNameFor(model => model.Price)" 
				   value="@Html.ValueFor(model => model.Price)"
				   tabindex="7" required
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Price)</b>
			    </label>
            </section>
				 
	   </div>
	    
     <div class="row">
			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Qty)</span> </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.Qty)"
				   name="@Html.NameFor(model => model.Qty)" 
                   placeholder="@Html.DisplayNameFor(model => model.Qty)" 
				   value="@Html.ValueFor(model => model.Qty)"
				   tabindex="8" required
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Qty)</b>
			    </label>
            </section>
				 
	    
			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Status)</span> </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.Status)"
				   name="@Html.NameFor(model => model.Status)" 
                   placeholder="@Html.DisplayNameFor(model => model.Status)" 
				   value="@Html.ValueFor(model => model.Status)"
				   tabindex="9" required
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Status)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.UseDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.UseDate)" 
			       name="@Html.NameFor(model => model.UseDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.UseDate)" 
				   tabindex="10" 
				   class="datepicker" data-dateformat="mm/dd/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.UseDate)"
				    />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.UseDate)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.PlateNumber) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PlateNumber)" 
				   name="@Html.NameFor(model => model.PlateNumber)" 
                   placeholder="@Html.DisplayNameFor(model => model.PlateNumber)" 
				   value="@Html.ValueFor(model => model.PlateNumber)"
				   tabindex="11" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.PlateNumber)</b>
			    </label>
            </section>
				 
	   </div>
	    
     <div class="row">
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.ScrapDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.ScrapDate)" 
			       name="@Html.NameFor(model => model.ScrapDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.ScrapDate)" 
				   tabindex="12" 
				   class="datepicker" data-dateformat="mm/dd/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.ScrapDate)"
				    />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.ScrapDate)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.PartnerCode) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PartnerCode)" 
				   name="@Html.NameFor(model => model.PartnerCode)" 
                   placeholder="@Html.DisplayNameFor(model => model.PartnerCode)" 
				   value="@Html.ValueFor(model => model.PartnerCode)"
				   tabindex="13" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.PartnerCode)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.PartnerName) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PartnerName)" 
				   name="@Html.NameFor(model => model.PartnerName)" 
                   placeholder="@Html.DisplayNameFor(model => model.PartnerName)" 
				   value="@Html.ValueFor(model => model.PartnerName)"
				   tabindex="14" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.PartnerName)</b>
			    </label>
            </section>
				 
	    
   </div>
</fieldset>
</form>
<!-- end tyre form  -->
</div>
</div>
<!-- end master section -->
<!--========================================================================================-->
 

 <script type="text/javascript">
    //初始化from赋值
    function initFormData(id) {
            //$('#tyre_form').form('load', data);
            
    }


   var tyreid=@Model.Id;
    $(function(){
        initFormData(tyreid);
    });
 </script>

