<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
      <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>
    </div>

  </div>
  <!--
  The ID "widget-grid" will start to initialize all widgets below
  You do not need to use widgets if you dont want to. Simply remove
  the <section></section> and you can use wells or panels instead
  -->
  <!-- widget grid -->
  <section id="widget-grid" class="">

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-basket text-warning"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">订单量</p>
                  <p class="card-title" id="targetId1">
                    0
                  </p><p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-refresh"></i> 当月
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-delivery-fast text-success"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">派车次数</p>
                  <p class="card-title" id="targetId2">
                    0
                  </p><p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-calendar-o"></i> 当月
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-vector text-danger"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">异常</p>
                  <p class="card-title">
                    <span id="targetId3-1">0</span> / <span id="targetId3-2">0</span>
                  </p><p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-clock-o"></i> 当月
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-sound-wave text-primary"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">完成率</p>
                  <p class="card-title">
                    <span id="targetId4">0</span> %
                  </p><p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-refresh"></i> 当月
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- row -->
    <div class="row">

      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-6">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="false">

          <!-- widget options:
          usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

          data-widget-colorbutton="false"
          data-widget-editbutton="false"
          data-widget-togglebutton="false"
          data-widget-deletebutton="false"
          data-widget-fullscreenbutton="false"
          data-widget-custombutton="false"
          data-widget-collapsed="true"
          data-widget-sortable="false"

          -->

          <header>
            <span class="widget-icon"> <i class="fa fa-comments txt-color-white"></i> </span>
            <h2> 运力池情况一览 </h2>
            <div class="widget-toolbar">
              <!-- add: non-hidden - to disable auto hide -->
            </div>
          </header>

          <!-- widget div-->
          <div>
            <div class="widget-body widget-hide-overflow no-padding">
              <!-- content goes here -->
              <div class="table-responsive">

                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th width="120px">状态</th>
                      <th>车辆</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var item in ViewBag.Pools)
                    {
                      <tr>
                        <td>@item.Status</td>
                        <td>
                          @foreach (var str in item.PlateNumbers)
                          {
                            if (item.Status == "空车")
                            {
                              <span class="label label-success" style="line-height:26px;font-size:14px">@str</span>
                            }
                            else if (item.Status == "在途")
                            {
                              <span class="label label-warning" style="line-height:26px;font-size:14px">@str</span>
                            }
                            else if (item.Status == "异常")
                            {
                              <span class="label label-danger" style="line-height:26px;font-size:14px">@str</span>
                            }
                            else if (item.Status == "预定")
                            {
                              <span class="label label-primary" style="line-height:26px;font-size:14px">@str</span>
                            }
                            else
                            {
                              <span class="label label-default" style="line-height:26px;font-size:14px">@str</span>
                            }
                          }
                        </td>

                      </tr>
                    }
                  </tbody>
                </table>

              </div>

              <!-- end content -->
            </div>

          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->

      </article>
      <!-- WIDGET END -->
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-6">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false" data-widget-fullscreenbutton="false">

          <!-- widget options:
          usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

          data-widget-colorbutton="false"
          data-widget-editbutton="false"
          data-widget-togglebutton="false"
          data-widget-deletebutton="false"
          data-widget-fullscreenbutton="false"
          data-widget-custombutton="false"
          data-widget-collapsed="true"
          data-widget-sortable="false"

          -->

          <header>
            <span class="widget-icon"> <i class="fa fa-comments txt-color-white"></i> </span>
            <h2> 车辆预警 </h2>
            <div class="widget-toolbar">
              <!-- add: non-hidden - to disable auto hide -->
            </div>
          </header>

          <!-- widget div-->
          <div>
            <div class="widget-body widget-hide-overflow no-padding">
              <!-- content goes here -->
              <div class="table-responsive">

                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th width="120px">预警项目</th>
                      <th>车辆</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>年检预警</td>
                      <td>
                        <span class="label label-warning" style="line-height:26px;font-size:14px">苏E05810</span>
                        <span class="label label-warning" style="line-height:26px;font-size:14px">苏E03810</span>
                        <span class="label label-warning" style="line-height:26px;font-size:14px">苏EYB810</span>
                        <span class="label label-warning" style="line-height:26px;font-size:14px">苏EBE310</span>
                        <span class="label label-warning" style="line-height:26px;font-size:14px">苏E05710</span>
                        <span class="label label-warning" style="line-height:26px;font-size:14px">苏E03110</span>
                        <span class="label label-warning" style="line-height:26px;font-size:14px">苏E03X10</span>
                      </td>
                    </tr>
                    <tr>
                      <td>保险到期</td>
                      <td>
                        <span class="label label-danger" style="line-height:26px;font-size:14px">苏E05810</span>
                        <span class="label label-danger" style="line-height:26px;font-size:14px">苏E03810</span>
                        <span class="label label-danger" style="line-height:26px;font-size:14px">苏EYB810</span>
                        <span class="label label-danger" style="line-height:26px;font-size:14px">苏EBE310</span>
                        <span class="label label-danger" style="line-height:26px;font-size:14px">苏E05710</span>
                        <span class="label label-danger" style="line-height:26px;font-size:14px">苏E03110</span>
                        <span class="label label-danger" style="line-height:26px;font-size:14px">苏E03X10</span>
                      </td>
                    </tr>
                    <tr>
                      <td>保养到期</td>

                      <td>
                        <span class="label label-info" style="line-height:26px;font-size:14px">苏E05810</span>
                        <span class="label label-info" style="line-height:26px;font-size:14px">苏EDY310</span>
                        <span class="label label-info" style="line-height:26px;font-size:14px">苏EYB810</span>


                      </td>
                    </tr>
                    <tr>
                      <td>在库维修</td>
                      <td>
                        <span class="label label-success" style="line-height:26px;font-size:14px">苏B05810</span>
                        <span class="label label-success" style="line-height:26px;font-size:14px">苏A3Y310</span>

                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>

              <!-- end content -->
            </div>

          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->

      </article>
      <!-- WIDGET END -->

    </div>

    <div class="row">
      <!-- NEW WIDGET START -->
      <!-- WIDGET END -->
      <article class="col-xs-12 col-sm-8">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget" id="wid-id-4"
             data-widget-colorbutton="false"
             data-widget-editbutton="false"
             data-widget-togglebutton="true"
             data-widget-deletebutton="true"
             data-widget-custombutton="false"
             data-widget-collapsed="false"
             data-widget-sortable="false"
             data-widget-refresh="15">
          <header>
            <span class="widget-icon">
              <i class="fa fa-location-arrow text-primary"></i>
            </span>
            <h2>在途跟踪</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
              <!-- This area used as dropdown edit box -->
              <input class="form-control" type="text">
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body no-padding">

              <!-- this is what the user will see -->
              <div id="map" class="map" style="width: 100%; height: 400px"></div>

            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </div>
        <!-- end widget -->


      </article>
      <article class="col-xs-12 col-sm-4">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget" id="wid-id-13"
             data-widget-colorbutton="false"
             data-widget-editbutton="false"
             data-widget-togglebutton="false"
             data-widget-deletebutton="false"
             data-widget-fullscreenbutton="false"
             data-widget-custombutton="false"
             data-widget-collapsed="false"
             data-widget-sortable="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-facebook text-primary"></i>
            </span>
            <h2>在途运单</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
              <!-- This area used as dropdown edit box -->
              <input class="form-control" type="text">
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body no-padding">

              <!-- this is what the user will see -->
              <div class="table-responsive">

                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>车牌号</th>
                      <th>发运单</th>
                      <th>起始地</th>
                      <th>目的地</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var item in ViewBag.Vehicles)
                    {

                    <tr>
                      <td>@item.ZCPH</td>
                      <td>@item.ShipOrderNo</td>
                      <td>@item.ZQSDMS</td>
                      <td>@item.ZMDDMS</td>

                    </tr>
                    }
                  </tbody>
                </table>

              </div>

            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </div>
        <!-- end widget -->


      </article>
    </div>

    <!-- end row -->

  </section>
  <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section Scripts {
  <script src="https://webapi.amap.com/maps?v=1.4.13&key=4aadb4b9c951ee269cea29368fd9a4c3&plugin=AMap.TruckDriving"></script>
  <script src="~/Scripts/smartadmin.charts.min.js"></script>
  <script>
    $(function () {



      var map = new AMap.Map('map', {
        resizeEnable: true, //是否监控地图容器尺寸变化
      });


    });
    var tag = false;
    $(window).on("resize.jarvisWidgets", () => {
      if ($('#wid-id-4').parent().attr('id') == 'jarviswidget-fullscreen-mode') {
        $('#map').height($(this).height() - 35);
      } else {
        $('#map').height(400);
      }
       

      
    })
  </script>



  <script>
    $(() => {
      const countUp1 = new CountUp('targetId1', 5234, { duration: 10 });
      if (!countUp1.error) {
        countUp1.start();
      } else {
        console.error(countUp1.error);
      }

      const countUp2 = new CountUp('targetId2', 7560, { duration: 10 });
      if (!countUp2.error) {
        countUp2.start();
      } else {
        console.error(countUp2.error);
      }

      const countUp31 = new CountUp('targetId3-1', 16, { duration: 2 });
      if (!countUp31.error) {
        countUp31.start();
      } else {
        console.error(countUp31.error);
      }
      const countUp32 = new CountUp('targetId3-2', 108, { duration: 2 });
      if (!countUp32.error) {
        countUp32.start();
      } else {
        console.error(countUp32.error);
      }
      const countUp4 = new CountUp('targetId4', 85, { duration: 2 });
      if (!countUp4.error) {
        countUp4.start();
      } else {
        console.error(countUp4.error);
      }
    }
    )



  </script>
}

