﻿@model WebApp.Models.OilRecord
<!-- 弹出窗体form表单 -->
 <div id="createwindow" hidden="hidden" class="easyui-window" 
      title="新增数据" 
      data-options="modal:true,
                    closed:true,
                    closeDuration:200,
                    closeAnimation:'slide',
                    openDuration:200,
                    openAnimation:'slide',
                    iconCls:'icon-save',
                    footer:'#windowfooter',
                    onOpen:function(){
                       $(this).window('vcenter');
                    }
                    " style="width:1440px;height:520px">
    <!-- begin toolbar -->
    <div class="window-body-toolbar">
        <div class="row">
            <div class="col-sm-8">
                <div class="btn-group">
                       <a href="javascript:createitem()" class="btn btn-sm btn-default"> 
                          <i class="fa fa-floppy-o"></i> 保存 
                       </a>
                </div>
                <div class="btn-group">
                       <a href="javascript:printitem()" class="btn btn-sm btn-default">
                         <i class="fa fa-print"></i> 打印 
                       </a>
                </div>
            </div>
            <div class="col-sm-4 text-align-right">
                <button type="button" class="btn btn-sm btn-success" onclick="closewindow()">
                    <i class="fa fa-chevron-left"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
    <!-- end toolbar -->
    <!-- begin window body -->
    <div class="padding-10">
    <!-- begin form表单界面-->
        <div class="row">
            <div class="col-md-12">
           <form id="oilrecord_createform" class="easyui-form form-horizontal" method="post" data-options="novalidate:true">
  @Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
  <table class="table table-bordered">
   
	    <tr>
	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.PlateNumber)</span></td>
	   <td> 
			<input id="@Html.IdFor(model => model.PlateNumber)" 
				   name="@Html.NameFor(model => model.PlateNumber)" 
				   value="@Html.ValueFor(model => model.PlateNumber)"
				   tabindex="0" required
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.PlateNumber)',
								 label:'',
                                 width:200,
								 required:true ,validType:'length[0,10]'" />
				   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.RDate)</span></td>
	   <td> 
                <input id="@Html.IdFor(model => model.RDate)" 
			       name="@Html.NameFor(model => model.RDate)"
                   value="@Html.ValueFor(model => model.RDate)"
           		   tabindex="1"  required
				   class="easyui-datebox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.RDate)',
								 label:'',
                                 width:200,
								 required:true,
								 formatter:dateformatter" />
				   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Type)</span></td>
	   <td> 
			<input id="@Html.IdFor(model => model.Type)"
				   name="@Html.NameFor(model => model.Type)" 
				   value="@Html.ValueFor(model => model.Type)"
				   tabindex="2" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Type)',
								 label:'',
                                 width:200,
								 required:true " />
				   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Driver)</span></td>
	   <td> 
			<input id="@Html.IdFor(model => model.Driver)" 
				   name="@Html.NameFor(model => model.Driver)" 
				   value="@Html.ValueFor(model => model.Driver)"
				   tabindex="3" required
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Driver)',
								 label:'',
                                 width:200,
								 required:true ,validType:'length[0,20]'" />
				   </td>
	   	   </tr>
	   	    <tr>
	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.KM)</span></td>
	   <td> 
             <input id="@Html.IdFor(model => model.KM)"
				   name="@Html.NameFor(model => model.KM)" 
				   value="@Html.ValueFor(model => model.KM)"
				   tabindex="4" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.KM)',
								 label:'',
                                 width:200,
								 required:true  ,precision:2"  />
				   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Label)</span></td>
	   <td> 
			<input id="@Html.IdFor(model => model.Label)" 
				   name="@Html.NameFor(model => model.Label)" 
				   value="@Html.ValueFor(model => model.Label)"
				   tabindex="5" required
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Label)',
								 label:'',
                                 width:200,
								 required:true ,validType:'length[0,10]'" />
				   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.LN)</span></td>
	   <td> 
             <input id="@Html.IdFor(model => model.LN)"
				   name="@Html.NameFor(model => model.LN)" 
				   value="@Html.ValueFor(model => model.LN)"
				   tabindex="6" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.LN)',
								 label:'',
                                 width:200,
								 required:true  ,precision:2"  />
				   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Price)</span></td>
	   <td> 
             <input id="@Html.IdFor(model => model.Price)"
				   name="@Html.NameFor(model => model.Price)" 
				   value="@Html.ValueFor(model => model.Price)"
				   tabindex="7" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Price)',
								 label:'',
                                 width:200,
								 required:true  ,precision:2"  />
				   </td>
	   	   </tr>
	   	    <tr>
	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Amount)</span></td>
	   <td> 
             <input id="@Html.IdFor(model => model.Amount)"
				   name="@Html.NameFor(model => model.Amount)" 
				   value="@Html.ValueFor(model => model.Amount)"
				   tabindex="8" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Amount)',
								 label:'',
                                 width:200,
								 required:true  ,precision:2"  />
				   </td>
	   	   <td class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Status)</span></td>
	   <td> 
			<input id="@Html.IdFor(model => model.Status)"
				   name="@Html.NameFor(model => model.Status)" 
				   value="@Html.ValueFor(model => model.Status)"
				   tabindex="9" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Status)',
								 label:'',
                                 width:200,
								 required:true " />
				   </td>
	   	   <td class="control-label">@Html.DisplayNameFor(model => model.Remark)</td>
	   <td> 
			<input id="@Html.IdFor(model => model.Remark)" 
				   name="@Html.NameFor(model => model.Remark)" 
				   value="@Html.ValueFor(model => model.Remark)"
				   tabindex="10" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.Remark)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,100]'" />
				   </td>
	   	   <td class="control-label">@Html.DisplayNameFor(model => model.PartnerCode)</td>
	   <td> 
			<input id="@Html.IdFor(model => model.PartnerCode)" 
				   name="@Html.NameFor(model => model.PartnerCode)" 
				   value="@Html.ValueFor(model => model.PartnerCode)"
				   tabindex="11" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.PartnerCode)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,10]'" />
				   </td>
	   	   </tr>
	   	    <tr>
	   <td class="control-label">@Html.DisplayNameFor(model => model.PartnerName)</td>
	   <td> 
			<input id="@Html.IdFor(model => model.PartnerName)" 
				   name="@Html.NameFor(model => model.PartnerName)" 
				   value="@Html.ValueFor(model => model.PartnerName)"
				   tabindex="12" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.PartnerName)',
								 label:'',
                                 width:200,
								 required:false ,validType:'length[0,50]'" />
				   </td>
	   	    		<td></td> <td></td>
			<td></td> <td></td>
			<td></td> <td></td>
		     </tr>
	       </table>
     </form>
     </div>
    </div>
<!--end form表单界面-->
<!--========================================================================================-->
     </div>
    <!--end window body -->
</div>
<div id="windowfooter" style="padding:5px;">&nbsp;</div>
<!-- 弹出窗体form表单 -->
<script type="text/javascript">
    //load data by foreign key
    var oilrecordid = 0;
    function loadCreateData(data) {
         $("#createwindow").window("open");
         oilrecordid = 0;
         $('#oilrecord_form').form('load', data);
             }
    var $createform = $('#oilrecord_createform');
    // save item
    function createitem() { 
        if ($createform.form('enableValidation').form('validate')) {
            var oilrecord = $createform.serializeJSON();
                        var token = $('input[name="__RequestVerificationToken"]', $createform).val();
            $.ajax({
                    type: "POST",
                    url: "/OilRecords/CreateAsync",
                    data: {
                        __RequestVerificationToken: token,
                        oilrecord:oilrecord
                    },
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8'
                })
                .done(response => {
                    if (response.success) {
                        $dg.datagrid('reload');
                        $.messager.alert("提示", "保存成功！","info");
                        $('#createwindow').window("close");
                    } else {
                        $.messager.alert("错误",   response.err, "error");
                    }
                    })
                .fail((jqXHR, textStatus, errorThrown) => {
                        $.messager.alert("异常",   errorThrown,"error");
                    });
        }
    }
    // close window
    function closewindow() {
        $('#createwindow').window('close');
    }
    // print form
    function printitem() {
         console.log('print.....');
    }

 
</script>


