﻿@model WebApp.Models.StdCostCode
<!-- begin master section -->
<div class="row">
    <div class="col col-lg-12 col-md-12">
<!--begin stdcostcode form  -->
<form id="stdcostcode_form" class="smart-form" method="post" novalidate >
@Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
 <fieldset>
     <div class="row">
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Code)</span> </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Code)" 
				   name="@Html.NameFor(model => model.Code)" 
                   placeholder="@Html.DisplayNameFor(model => model.Code)" 
				   value="@Html.ValueFor(model => model.Code)"
				   tabindex="0" required
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Code)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Name)</span> </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Name)" 
				   name="@Html.NameFor(model => model.Name)" 
                   placeholder="@Html.DisplayNameFor(model => model.Name)" 
				   value="@Html.ValueFor(model => model.Name)"
				   tabindex="1" required
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Name)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Tax)</span> </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Tax)" 
				   name="@Html.NameFor(model => model.Tax)" 
                   placeholder="@Html.DisplayNameFor(model => model.Tax)" 
				   value="@Html.ValueFor(model => model.Tax)"
				   tabindex="2" required
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Tax)</b>
			    </label>
            </section>
				 
	    
			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.TaxRate)</span> </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.TaxRate)"
				   name="@Html.NameFor(model => model.TaxRate)" 
                   placeholder="@Html.DisplayNameFor(model => model.TaxRate)" 
				   value="@Html.ValueFor(model => model.TaxRate)"
				   tabindex="3" required
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.TaxRate)</b>
			    </label>
            </section>
				 
	   </div>
	    
     <div class="row">
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Remark) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Remark)" 
				   name="@Html.NameFor(model => model.Remark)" 
                   placeholder="@Html.DisplayNameFor(model => model.Remark)" 
				   value="@Html.ValueFor(model => model.Remark)"
				   tabindex="4" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Remark)</b>
			    </label>
            </section>
				 
	    
   </div>
</fieldset>
</form>
<!-- end stdcostcode form  -->
</div>
</div>
<!-- end master section -->
<!--========================================================================================-->
 

 <script type="text/javascript">
    //初始化from赋值
    function initFormData(id) {
            //$('#stdcostcode_form').form('load', data);
            
    }


   var stdcostcodeid=@Model.Id;
    $(function(){
        initFormData(stdcostcodeid);
    });
 </script>

