﻿@model WebApp.Models.Vehicle
 <!-- 输出form表单界面 -->
<form id="vehicle_form" class="smart-form" method="post" novalidate >
@Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
 <fieldset>
     <div class="row">
			              <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.PlateNumber)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.PlateNumber)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.PartnerCode) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.PartnerCode)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.PartnerName) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.PartnerName)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.OrderNo) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.OrderNo)
            </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.ExternalNo) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.ExternalNo)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.UsingDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.UsingDate)
			    </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Location1) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Location1)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Location2) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Location2)
            </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.InputUser) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.InputUser)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Driver)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Driver)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.DriverPhone)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.DriverPhone)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.PlateNumberPosition)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.PlateNumberPosition)
            </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.VehStatus)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.VehStatus)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.CarType)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.CarType)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.VehicleType) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.VehicleType)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.VehicleProperty)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.VehicleProperty)
            </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.ECOMark)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.ECOMark)
            </label>
            </section>
			  		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.StdLoadWeight) </label>
            <label class="label">
            @Html.DisplayFor(model => model.StdLoadWeight)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LoadWeight) </label>
            <label class="label">
            @Html.DisplayFor(model => model.LoadWeight)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LoadVolume) </label>
            <label class="label">
            @Html.DisplayFor(model => model.LoadVolume)
			    </label>
            </section>
              		 
	   </div>
	    
     <div class="row">
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.CarriageSize) </label>
            <label class="label">
            @Html.DisplayFor(model => model.CarriageSize)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.VehLongSize) </label>
            <label class="label">
            @Html.DisplayFor(model => model.VehLongSize)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.VehHightSize) </label>
            <label class="label">
            @Html.DisplayFor(model => model.VehHightSize)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Axles) </label>
            <label class="label">
            @Html.DisplayFor(model => model.Axles)
			    </label>
            </section>
              		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.AssistantDriver) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.AssistantDriver)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.AssistantDriverPhone) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.AssistantDriverPhone)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.CubicleType) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.CubicleType)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.VehUseType) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.VehUseType)
            </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.CustomsNo) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.CustomsNo)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.VehUse) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.VehUse)
            </label>
            </section>
			  		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.AVGECON) </label>
            <label class="label">
            @Html.DisplayFor(model => model.AVGECON)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.AVGECONScale) </label>
            <label class="label">
            @Html.DisplayFor(model => model.AVGECONScale)
			    </label>
            </section>
              		 
	   </div>
	    
     <div class="row">
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.RoadKM) </label>
            <label class="label">
            @Html.DisplayFor(model => model.RoadKM)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.RoadHours) </label>
            <label class="label">
            @Html.DisplayFor(model => model.RoadHours)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.RoadKMScale) </label>
            <label class="label">
            @Html.DisplayFor(model => model.RoadKMScale)
			    </label>
            </section>
              		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.GPSDeviceId) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.GPSDeviceId)
            </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Owner) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Owner)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.OwnerContactPhone) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.OwnerContactPhone)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Brand) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Brand)
            </label>
            </section>
			  		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.RPM) </label>
            <label class="label">
            @Html.DisplayFor(model => model.RPM)
			    </label>
            </section>
              		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.PurchasedDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.PurchasedDate)
			    </label>
            </section>
			  		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.PurchasedAmount) </label>
            <label class="label">
            @Html.DisplayFor(model => model.PurchasedAmount)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.VehLong) </label>
            <label class="label">
            @Html.DisplayFor(model => model.VehLong)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.VehWide) </label>
            <label class="label">
            @Html.DisplayFor(model => model.VehWide)
			    </label>
            </section>
              		 
	   </div>
	    
     <div class="row">
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.VehHigh) </label>
            <label class="label">
            @Html.DisplayFor(model => model.VehHigh)
			    </label>
            </section>
              		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.VIN) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.VIN)
            </label>
            </section>
			  		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.ServiceLife) </label>
            <label class="label">
            @Html.DisplayFor(model => model.ServiceLife)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.MaintainKM) </label>
            <label class="label">
            @Html.DisplayFor(model => model.MaintainKM)
			    </label>
            </section>
              		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.MaintainDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.MaintainDate)
			    </label>
            </section>
			  		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.MaintainMonth) </label>
            <label class="label">
            @Html.DisplayFor(model => model.MaintainMonth)
			    </label>
            </section>
              		 
	    
			  			  <section class="col col-3">
              <label class="label"><span class="required">@Html.DisplayNameFor(model => model.ExistVehTailBoard)</span> </label>
              <label class="label">
                @Html.DisplayFor(model => model.ExistVehTailBoard)
            </label>
            </section>
              		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.VehTailBoardBrand) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.VehTailBoardBrand)
            </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.VehTailBoardFactory) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.VehTailBoardFactory)
            </label>
            </section>
			  		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.VehTailBoardLife) </label>
            <label class="label">
            @Html.DisplayFor(model => model.VehTailBoardLife)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.VehTailBoardAmount) </label>
            <label class="label">
            @Html.DisplayFor(model => model.VehTailBoardAmount)
			    </label>
            </section>
              		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.VehTailBoardGPSDeviceId) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.VehTailBoardGPSDeviceId)
            </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseModel) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.DrLicenseModel)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseUseNature) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.DrLicenseUseNature)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseBrand) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.DrLicenseBrand)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseDevId) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.DrLicenseDevId)
            </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseEngineId) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.DrLicenseEngineId)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseRegistrationDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.DrLicenseRegistrationDate)
			    </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicensePubDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.DrLicensePubDate)
			    </label>
            </section>
			  		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseRatedUsers) </label>
            <label class="label">
            @Html.DisplayFor(model => model.DrLicenseRatedUsers)
			    </label>
            </section>
              		 
	   </div>
	    
     <div class="row">
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseVehWeight) </label>
            <label class="label">
            @Html.DisplayFor(model => model.DrLicenseVehWeight)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseDevWeight) </label>
            <label class="label">
            @Html.DisplayFor(model => model.DrLicenseDevWeight)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseNetWeight) </label>
            <label class="label">
            @Html.DisplayFor(model => model.DrLicenseNetWeight)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseNetVolume) </label>
            <label class="label">
            @Html.DisplayFor(model => model.DrLicenseNetVolume)
			    </label>
            </section>
              		 
	   </div>
	    
     <div class="row">
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseVehWide) </label>
            <label class="label">
            @Html.DisplayFor(model => model.DrLicenseVehWide)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseVehHigh) </label>
            <label class="label">
            @Html.DisplayFor(model => model.DrLicenseVehHigh)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseVehLong) </label>
            <label class="label">
            @Html.DisplayFor(model => model.DrLicenseVehLong)
			    </label>
            </section>
              		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseScrapedDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.DrLicenseScrapedDate)
			    </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LoLicenseManageId) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.LoLicenseManageId)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LoLicenseId) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.LoLicenseId)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LoLicenseBusinessScope) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.LoLicenseBusinessScope)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LoLicensePubDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.LoLicensePubDate)
			    </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LoLicenseValidDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.LoLicenseValidDate)
			    </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LoLicenseCheckDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.LoLicenseCheckDate)
			    </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LoLicensePlace) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.LoLicensePlace)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.InsTrafficPolicyId) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.InsTrafficPolicyId)
            </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.InsTrafficPolicyCompany) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.InsTrafficPolicyCompany)
            </label>
            </section>
			  		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.InsTrafficPolicyVaildateDate) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.InsTrafficPolicyVaildateDate)
            </label>
            </section>
			  		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.InsTrafficPolicyAmount) </label>
            <label class="label">
            @Html.DisplayFor(model => model.InsTrafficPolicyAmount)
			    </label>
            </section>
              		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.InsThirdPartyId) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.InsThirdPartyId)
            </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.InsThirdPartyVaildateDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.InsThirdPartyVaildateDate)
			    </label>
            </section>
			  		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.InsThirdPartyAmount) </label>
            <label class="label">
            @Html.DisplayFor(model => model.InsThirdPartyAmount)
			    </label>
            </section>
              		 
	    
			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.InsThirdPartyLogisticsAmount) </label>
            <label class="label">
            @Html.DisplayFor(model => model.InsThirdPartyLogisticsAmount)
			    </label>
            </section>
              		 
	    
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.InsThirdPartyLogisticsVaildateDate) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.InsThirdPartyLogisticsVaildateDate)
			    </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Status) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Status)
            </label>
            </section>
			  		 
	    
   </div>
	    
</fieldset>
</form>
<!--========================================================================================-->
 

 <script type="text/javascript">
    //初始化from赋值
    function initFormData(id) {
            //$('#vehicle_form').form('load', data);
            
    }


   var vehicleid=@Model.Id;
    $(function(){
        initFormData(vehicleid);
    });
 </script>

