﻿@model WebApp.Models.TyRefurbishment
<!-- begin master section -->
<div class="row">
    <div class="col col-lg-12 col-md-12">
<!--begin tyrefurbishment form  -->
<form id="tyrefurbishment_form" class="smart-form" method="post" novalidate >
@Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
 <fieldset>
     <div class="row">
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.PartNo)</span> </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PartNo)" 
				   name="@Html.NameFor(model => model.PartNo)" 
                   placeholder="@Html.DisplayNameFor(model => model.PartNo)" 
				   value="@Html.ValueFor(model => model.PartNo)"
				   tabindex="0" required
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.PartNo)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Spec)</span> </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Spec)" 
				   name="@Html.NameFor(model => model.Spec)" 
                   placeholder="@Html.DisplayNameFor(model => model.Spec)" 
				   value="@Html.ValueFor(model => model.Spec)"
				   tabindex="1" required
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Spec)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.RDate)</span> </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.RDate)" 
			       name="@Html.NameFor(model => model.RDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.RDate)" 
				   tabindex="2" required
				   class="datepicker" data-dateformat="mm/dd/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.RDate)"
				    />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.RDate)</b>
			    </label>
            </section>
				 
	    
			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Status)</span> </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.Status)"
				   name="@Html.NameFor(model => model.Status)" 
                   placeholder="@Html.DisplayNameFor(model => model.Status)" 
				   value="@Html.ValueFor(model => model.Status)"
				   tabindex="3" required
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Status)</b>
			    </label>
            </section>
				 
	   </div>
	    
     <div class="row">
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.PlateNumber1)</span> </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PlateNumber1)" 
				   name="@Html.NameFor(model => model.PlateNumber1)" 
                   placeholder="@Html.DisplayNameFor(model => model.PlateNumber1)" 
				   value="@Html.ValueFor(model => model.PlateNumber1)"
				   tabindex="4" required
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.PlateNumber1)</b>
			    </label>
            </section>
				 
	    
			<section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Amount)</span> </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.Amount)"
				   name="@Html.NameFor(model => model.Amount)" 
                   placeholder="@Html.DisplayNameFor(model => model.Amount)" 
				   value="@Html.ValueFor(model => model.Amount)"
				   tabindex="5" required
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.Amount)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.SupplierCode)</span> </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.SupplierCode)" 
				   name="@Html.NameFor(model => model.SupplierCode)" 
                   placeholder="@Html.DisplayNameFor(model => model.SupplierCode)" 
				   value="@Html.ValueFor(model => model.SupplierCode)"
				   tabindex="6" required
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.SupplierCode)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.SupplierName)</span> </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.SupplierName)" 
				   name="@Html.NameFor(model => model.SupplierName)" 
                   placeholder="@Html.DisplayNameFor(model => model.SupplierName)" 
				   value="@Html.ValueFor(model => model.SupplierName)"
				   tabindex="7" required
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.SupplierName)</b>
			    </label>
            </section>
				 
	   </div>
	    
     <div class="row">
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.EDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.EDate)" 
			       name="@Html.NameFor(model => model.EDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.EDate)" 
				   tabindex="8" 
				   class="datepicker" data-dateformat="mm/dd/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.EDate)"
				    />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.EDate)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.PlateNumber2) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PlateNumber2)" 
				   name="@Html.NameFor(model => model.PlateNumber2)" 
                   placeholder="@Html.DisplayNameFor(model => model.PlateNumber2)" 
				   value="@Html.ValueFor(model => model.PlateNumber2)"
				   tabindex="9" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.PlateNumber2)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.PartnerCode) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PartnerCode)" 
				   name="@Html.NameFor(model => model.PartnerCode)" 
                   placeholder="@Html.DisplayNameFor(model => model.PartnerCode)" 
				   value="@Html.ValueFor(model => model.PartnerCode)"
				   tabindex="10" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.PartnerCode)</b>
			    </label>
            </section>
				 
	    
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.PartnerName) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PartnerName)" 
				   name="@Html.NameFor(model => model.PartnerName)" 
                   placeholder="@Html.DisplayNameFor(model => model.PartnerName)" 
				   value="@Html.ValueFor(model => model.PartnerName)"
				   tabindex="11" 
				   type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">@Html.DisplayNameFor(model => model.PartnerName)</b>
			    </label>
            </section>
				 
	   </div>
	    
</fieldset>
</form>
<!-- end tyrefurbishment form  -->
</div>
</div>
<!-- end master section -->
<!--========================================================================================-->
 

 <script type="text/javascript">
    //初始化from赋值
    function initFormData(id) {
            //$('#tyrefurbishment_form').form('load', data);
            
    }


   var tyrefurbishmentid=@Model.Id;
    $(function(){
        initFormData(tyrefurbishmentid);
    });
 </script>

